# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# firebase outputs
.firebase

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Ignore specific files
.firebaserc
.gitignore
firebase.config.ts
nuxt.config.ts
